.admin-layout{
    display:grid;
    grid-template-columns:20% 80%;

    .left-nav{
        height:100vh;
        width:382px;
        background-color:lightpink;
        color:blue;
        .brand{
            h2{
                font-size:18px;
                color:green;
                font-family:Georgia, 'Times New Roman', Times, serif;
            }
            margin-left:10%;
            margin-right:10%;
            margin-top:2rem;
            text-align:center;
        }
        .search{
            margin-left:10%;
            margin-right:10%;
            display:grid;
            grid-template-columns:90% 10%;
            align-items:center;
            margin-top:2rem;
            border-radius:20px;

            input{
                border-radius:20px;
                padding:8px;
                background-color:rgb(220, 244, 220);
                outline:rgb(245, 177, 177);
            }
        }

        ol{
            list-style:none;
            margin-left: 10%;
            margin-right:10%;
            cursor:pointer;
            li{
                padding:10px;
                transition:all 0.2s ease-in-out;
                border: 2px lightpink;;
                border-radius:10px;
                margin-top:10px;
                .left_nav_list_item{
                    display:grid;
                    grid-template-columns:20% 80%;
                    align-items:center;
                    text-align:center;
                }

                &:hover{
                    border: 2px solid rgb(20, 176, 15);
                    box-shadow:4px 4px 20px rgb(241, 142, 142);
                }

            }
            
        }


    }
    .content{
        .main-content-nav{
        
            padding:10px;
            width:100%;
            background-color:rgb(191, 187, 239);
            button{
                padding:6px 10px 6px 10px;
                border:white;
                border-radius:10px;
                transition:all 0.2s ease-in-out;
                &:hover{
                    background-color:pink;
                }

            }


        }
    }

    .content-outlet{
        height:100vh;
        width:100%;
        border:1px solid black;
        border-radius:6px;
        margin:1px;
        background-color:cornsilk;
    }

}